/* Reset */
body,img,p,h1,h2,h3,h4,h5,h6,ul,ol {margin:0; padding:0; list-style:none; border:none;}
/* End Reset */

body {font-size:0.8em; font-family:Arial,Verdana,Sans-Serif; background: #eee;}
//a {color:white;}

body
{
	background: #EFEFEF;
	font: 12px/1.7em arial,sans-serif;
	min-height: 1063px;
}

#wrapper { width: 100%; min-width: 960px; margin: 0 auto 150px; }

#header { 
	background: #263849 url(img/header_bg.png) repeat-x 0 0; 
	width: 93%; 
	height: 96px; margin: 0 auto; 
	position: relative; }

	#header h1
	{
		//background: url(../..images/title.png) no-repeat 0 0;
		//width: 159px;
		//height: 27px;
		line-height: 40px;
		overflow: hidden;
		color: #FFF;		
		font-size: 38px;
		position: absolute;
		top: 30px;
		left: 10px;
	}
	
		#header h1 a { display: block; }
#info
{
	width: 215px;
	font-size: 11px;
	font-weight: bold;
	
	color: #DDD;
	text-align: right;
	position: absolute;
	right: 20px;
	top: 12px;
	padding-right: 85px;
}

	#info h4 { font-size: 16px; color: #DDD; margin-bottom: .6em; }

	#info a { color: #F90; }
	
	#info img 
	{ 
		width: 60px; 
		border: 3px solid #FFF; 
		-moz-border-radius: 4px; 
		-webkit-border-radius: 4px; 
		border-radius: 4px; 
		position: absolute; 
		top: 0; 
		right: 0; 
	}


#nav 
{ 
	background: #263849;
	width: 93%; 
	height: 47px; 
	
	margin: 0 auto 20px;
	
	position: relative;
	z-index: 100;
	
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.35);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.35);
	box-shadow: 1px 1px 3px rgba(0,0,0,.35);
}

//*********************



/* -------------------------------------------------------------- 
   Reset
-------------------------------------------------------------- */
/*
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code, sup,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
{
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
padding: 0;
margin: 0;
border: 0;
vertical-align: baseline
}
*/






/* -------------------------------------------------------------- 
   Text
-------------------------------------------------------------- */
//h1,h2,h3,
//h4,h5,h6		{ color: #111; margin-bottom: .75em; }
/*
h1 				{ font-size: 30px; line-height: 1em; }
h2 				{ font-size: 24px; font-weight: normal; color: #222; margin-bottom: 1em }
h3 				{ font-size: 16px; color: #333; line-height: 1; margin-bottom: .75em }
h4 				{ font-size: 14px; color: #666; line-height: 1.25; margin-bottom: 1.25em }
h5 				{ font-size: 12px; font-weight: bold; margin-bottom: 1.5em }
h6 				{ font-size: 11px; font-weight: bold }
*/
p           	{ margin: 0 0 1.5em }
p.last      	{ margin-bottom: 0 }
//img         	{ border: none; }

/*
ul, ol			{ margin-left: 28px; margin-bottom: 1.5em; }
li ul,
li ol			{ margin-top: 1em; }
ul li			{ list-style-type: disc; }
li				{ margin-bottom: .5em; }
*/
dl          	{ margin: 0 0 1.5em 0 }
dl dt       	{ font-weight: bold }
dd          	{ margin-left: 1.5em }

abbr, 
acronym     	{ border-bottom: 1px dotted #666 }
address     	{ margin-top: 1.5em; font-style: italic }
del         	{ color:#666 }
sup				{ font-size: 9px; vertical-align:top; }

a				{ color: #358; text-decoration: underline }
a:visited		{ color: #667 }
a:focus, 
a:hover     	{ color: #933 }

blockquote  	{ margin: 1.5em; color: #666; font-style: italic }
strong      	{ font-weight: bold }
em,dfn      	{ font-style: italic; background: #ffc }
dfn         	{ font-weight: bold }
pre,code    	{ margin: 1.5em 0; white-space: pre }
pre,code,tt 	{ font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 1.5 } 
tt         		{ display: block; margin: 1.5em 0; line-height: 1.5 }


//*********************








/* Colors */
.color-yellow {background:#f2bc00;}
.color-red    {background:#dd0000;}
.color-blue   {background:#148ea4;}
.color-white  {background:#dfdfdf;}
.color-orange {background:#f66e00;}
.color-green  {background:#8dc100;}
.color-yellow h3,
.color-white h3,
.color-green h3
	{color:#000;}
.color-red h3,
.color-blue h3,
.color-orange h3
	{color:#FFF;}
/* End Colors */

/* Head section */
#head {
    //background: #000 url(img/head-bg.png) repeat-x;
    height: 100px;
}

#head h1 {
    line-height: 100px;
    color: #FFF;
    text-align: center;
    //background: url(img/inettuts.png) no-repeat center;
    text-indent: -9999em
}
/* End Head Section */

/* Columns section */


#columns { 
	 width: 93%; 
	 margin: 0 auto; 
	 position: relative; 
}

#columns .column {
    float: left;
    width: 33.3%;
		/* Min-height: */
	min-height: 400px;
	height: auto !important; 
	height: 400px;
}

/* Column dividers (background-images) : */
	//#columns #column1 { background: url(img/column-bg-left.png) no-repeat right top; }
	//#columns #column3 { background: url(img/column-bg-right.png) no-repeat left top; }
	
#columns #column1 .widget { margin: 30px 35px 0 0px; }
#columns #column3 .widget { margin: 30px 0px 0 35px; }

//#columns #column1 .widget { margin: 30px 35px 0 25px; }
//#columns #column3 .widget { margin: 30px 25px 0 35px; }


#columns .widget {
    /*
    margin: 30px 20px 0 20px;
    padding: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    */
    
    background: #FFF;	
    margin: 30px 00px 0 0px;
    //padding: 2px;
	margin-bottom: 1.5em;
	position: relative;
	border: 1px solid #CCC;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	box-shadow: 1px 1px 2px rgba(0,0,0,.10);
    
}
#columns .widget .widget-head {
    /*
    color: #000;
    overflow: hidden;
    width: 100%;
    */
    height: 25px;
    line-height: 30px;
    
    	background: #F0F0F0 url(../img/portlet-header-bg.png) repeat-x 0 0;
		color: #444;
		text-align: left;
		padding: 5px 0 5px 0;
		//width: 100%;
		cursor: pointer;		
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid #CCC;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
}
		#columns .widget .widget-head h3
		{
			font-size: 14px;			
			font-style: normal;
			font-weight: bold;
			color: #263849;
			padding: 0 0 0 10px;
    //padding: 0 5px;
    float: left;
			margin: 0;
		}
/*		
#columns .widget .widget-head h3 {
    padding: 0 5px;
    float: left;
}
*/
#columns .widget .widget-content {
    //background: #333 url(img/widget-content-bg.png) repeat-x;
    //padding: 0 5px;
    padding: 20px 15px 10px;
    //color: #DDD;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    line-height: 1.2em;
    overflow: hidden;
}

#columns .widget .widget-content p {
	//padding: 20px 15px 10px;
    //padding: 0.8em 0;
    //border-bottom: 1px solid #666;
}

#columns .widget .widget-content img {
    float: right;
    margin: 10px;
    border: 1px solid #FFF;
}

#columns .widget .widget-content pre {
    padding: 0.5em 5px;
    color: #EEE;
    font-size: 12px;
}
#columns .widget .widget-content ul {
    padding: 5px 0 5px 20px;
    list-style: disc;
}

#columns .widget .widget-content ul li {padding: 3px 0;}
#columns .widget .widget-content ul.images {
    padding: 7px 0 0 0;
    list-style: none;
    height: 1%;
}

#columns .widget .widget-content ul.images li {
    display: inline;
    float: left;
}
#columns .widget .widget-content ul.images img {
    display: inline;
    float: left;
    margin: 0 0 7px 7px;
}
/* End Columns section */



/* -------------------------------------------------------------- 
   Tickets
-------------------------------------------------------------- */
.ticket {
	padding: 3px 4px;
	text-align: right;
	color: #fff;
	font-size: 10px;
	display: inline;
	white-space: nowrap;
	width: 60px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.ticket.open { background-color: #F90; }
.ticket.closed { background-color: #666; }
.ticket.responded { background-color: #263849; }


// FORMS
#quickquoteform {

}

#quickquoteform fieldset {
	//height: 20em;
	//width: 11em;
	//border: 1;
	border: 0;
	margin: 0 0 0 0px;
	padding: 1em;
	float: left;
}

#quickquoteform fieldset.form-border {
	//border: 1;	
	border: 1px solid #BBB;
	margin: 0 0 10px 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#quickquoteform input[type=radio] {
	border: 1px solid #F00;	
}
#pt2 {
	//text-align: right;
}

#search-bar #search-left {
	border: 1;
	margin: 0 auto;
	float: left;	
}

#qq-actions {
	margin: 0 0 0 75px;
}

#qq-zip {
	
	width: 140px;
	/*
	text-align: right;
	border: 1px solid #CCC;
	*/
	padding: 4px;
	margin: 0 1em 5px 0;
	//margin-right: 1em;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


//
// PORTLETS
//
.portlet
{
	background: #FFF;	
	margin: 0 0 0 30px;
	//margin-bottom: 1.5em;
	position: relative;
	//border: 2px solid #CCC;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	box-shadow: 1px 1px 2px rgba(0,0,0,.10);
}
	.portlet-header
	{
		background: #F0F0F0 url(../img/portlet-header-bg.png) repeat-x 0 0;
		color: #444;
		text-align: left;
		padding: 15px 0 15px 0;
		width: 100%;
		cursor: pointer;		
		position: relative;
		overflow: hidden;
		border-bottom: 1px solid #CCC;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

	}
	//.portlet-content { 	padding: 20px 15px 35px; position: relative; }	

		.portlet-state-closed .portlet-header { padding-bottom: 10px; }
	
		.portlet-header h4
		{
			font-size: 14px;			
			font-style: normal;
			font-weight: bold;
			color: #263849;
			padding: 0 0 0 10px;
			margin: 0;
		}
.x12 { width: 92%; }

#search-bar
{
	background: #EEE;
	padding: 8px 5px 5px;
	
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	border: 3px solid #FFF;
	text-align: right;
	//margin: 0 auto;	
		margin: 0 0 0 40px;
	width: 100%; 
		
	//height: 35px; 
	position: relative; 
	//width: 98%;
	
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.10);
	box-shadow: 1px 1px 2px rgba(0,0,0,.10);
}



#search-bar form
{
	//width: 700px;
	position: relative;
	margin: 0 auto;
	//border: 1px solid #F00;
}


#footer
{
	width: 93%;
	border-top: 1px dotted #AAA;
	clear: both;
	padding: 15px 0;
	margin: 0 auto;
	margin-top: 5em;
	margin-bottom: 30px;
}


/* -------------------------------------------------------------
FORM
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.form { padding: 0; margin: 0; }
.form .field { width: 100%; float: left; }
.form .field_help { margin-left: 145px; font-size: 90%; color: #777; }
.form label, 
.form span.label { color: #444; margin-right: 10px; padding-right: 10px; width: 125px; display: block; float: left;  font-weight: bold; text-align: right; position: relative; }
.form label em, 
.form span.label em { position: absolute; right: 0; font-size: 120%; font-style: normal; color: #C00; }
.form input:focus,
.form input.error:focus, 
.form textarea:focus {	background-color: #FFC; border-color: #FC6; }
.form .upload { margin-bottom: -5em;}


.form .buttonrow { float: left; margin-top: 1em; margin-bottom: 2.5em; margin-left: 145px; display: block; }
.form .cancel { font-size: 11px; color: #C00; padding-left: 10px; }
.form .field { margin-bottom: 1.5em; }
.form .uploader { margin-bottom: .5em !important; }

.form .field input,
.form .field textarea
{
	padding: 4px;
	margin-right: 1em;
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.form .phone_field input { margin-right: 0; }
/*
.form .xsmall { width: 50px; }
.form .small { width: 100px; }
.form .medium { width: 200px; }
.form .large { width: 300px; }
.form .xlarge { width: 400px; }
*/

/* Label top styles */
.label-top .field label { width: 100%; display: block; text-align: left; }
.label-top .field span.label { width: 100%; display: block; float: left; text-align: left; position: relative; }
.label-top .field .field_help { margin-left: 0; font-size: 11px; }
.label-top .buttonrow { margin-left: 0; }
.label-top .selector { width: 100%; display: block; float: left; }

.form div.controlset label, 
.form div.controlset input { display: inline; float: none; }
.form .controlset label {font-size: 11px; font-weight: normal !important; }
.controlset { margin-bottom: 2.5em; float: left; }
.controlset .controlset-pad { width: 300px; float: left;  }





